@charset "UTF-8";

body {
    background-color: black;
    color: #f6f6f6;
}

main {
    margin: auto;
    width: 500px;
    text-align: center;
}

strong {
    color: #22d4fd;
}

img {
    width: 300px;
    margin: 30px;
}

.link_azul {
    background-color: #22d4fd;
    display: inline;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px 45px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.link_azul:hover {
    background-color: #f6f6f6;
    color: black;
    margin: 10px;
    transition: 0.5s;
}