@charset "UTF-8";

* {
/*Typography stuff*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
/*Miscellaneous*/
    box-sizing: border-box;
}

/* ELEMENTOS DA INTERFACE */

body {
/*Display stuff*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    background-attachment: fixed;
    background-color: #15142b;
    background-image: linear-gradient(180deg, #372991, #15142b);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header, main, section, article {
/*Box model stuff*/
    max-width: 700px;
}

header > h1 {
/*Typography stuff*/
    text-shadow: 3px 3px 0px black;
    color: white;
}

main, section, article {
/*Box model stuff*/
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
/*Miscellaneous*/
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
}

footer {
/*Display stuff*/
    display: block;
/*Box model stuff*/
    width: 100vw;
    margin-top: auto;
    padding: 5px;
    background-color: #291f6c;
/*Typography stuff*/
    text-align: center;
    color: white;
}

p {
/*Typography stuff*/
    text-align: justify;
/*Miscellaneous*/
    line-height: 1.5em;
}

h2, h3, h4 {
/*Box model stuff*/
    margin: 0 0 10px 0;
/*Typography stuff*/
    color: #372991;
}

a {
/*Box model stuff*/
    padding: 0 3px;
    border-bottom: .5px dotted #372991;
    background-color: rgba(55, 41, 145, 0.1);
/*Typography stuff*/
    font-weight: 600;
    text-decoration: none;
    color: #15142b;
}

a:hover {
/*Box model stuff*/
    border-bottom: 1px solid #372991;
/*Typography stuff*/
    color: #372991;
}

/* TABELAS E LISTAS */

table {
/*Box model stuff*/
    min-width: 400px;
    margin: 10px auto;
    border: 0.5px solid #372991;
    border-spacing: 0px;
}

table th {
/*Box model stuff*/
    padding: 5px;
    background-color: #372991;
/*Typography stuff*/
    text-align: left;
    color: white;
}

table td {
/*Box model stuff*/
    padding: 5px;
}

table tr {
/*Box model stuff*/
    background-color: rgba(55, 41, 145, 0.05);
}

table tr:nth-child(odd) {
/*Box model stuff*/
    background-color: rgba(55, 41, 145, 0.3);
}

table.divisao {
/*Box model stuff*/
    border: 1px solid white;
}

table.divisao td {
/*Box model stuff*/
    padding: 20px;
    background-color: white;
/*Typography stuff*/
    font-size: 2.5em;
    text-align: center;
}

table.divisao  tr:nth-child(1) td:nth-child(2) {
/*Box model stuff*/
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(2) {
/*Box model stuff*/
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(1) {
/*Typography stuff*/
    text-decoration: underline;
}

ul > li::marker {
/*Typography stuff*/
    color: #372991;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
/*Box model stuff*/
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(55, 41, 145, 0.2);
}

form label {
/*Display stuff*/
    display: block;
/*Box model stuff*/
    width: fit-content;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: rgba(55, 41, 145, 0.2);
/*Typography stuff*/
    font-size: 0.8em;
    font-weight: 100;
}

input[type=text], [type=number], select, input[type=date], input[type=date], input[type=datetime], input[type=email], input[type=month], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week] {
/*Display stuff*/
    display: inline-block;
/*Box model stuff*/
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
/*Typography stuff*/
    font-size: 1em;
/*Miscellaneous*/
    box-sizing: border-box;
}
  
input[type=submit] {
/*Box model stuff*/
    width: 100%;
    margin: 5px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
/*Typography stuff*/
    font-size: 1em;
    color: white;
/*Miscellaneous*/
    cursor: pointer;
}
  
input[type=submit]:hover {
/*Box model stuff*/
    background-color: #45a049;
}

input[type=reset] {
/*Box model stuff*/
    width: 100%;
    margin: 5px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #eb9903;
/*Typography stuff*/
    font-size: 1em;
    color: white;
/*Miscellaneous*/
    cursor: pointer;
}

input[type=reset]:hover {
/*Box model stuff*/
    background-color: #c27013;
}

input[type=button], button {
/*Box model stuff*/
    width: 100%;
    margin: 5px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #372991;
/*Typography stuff*/
    font-size: 1em;
    color: white;
/*Miscellaneous*/
    cursor: pointer;
}

input[type=button]:hover, button:hover {
/*Box model stuff*/
    background-color: #291f6c;
}

fieldset {
/*Box model stuff*/
    border: 0.5px dotted #372991;
}

fieldset > legend {
/*Box model stuff*/
    padding: 3px 7px;
    border-radius: 5px;
    background-color: rgba(55, 41, 145, 0.2);
/*Typography stuff*/
    font-size: 0.8em;
    font-weight: 100;
}

input[type=radio] + label, input[type=checkbox] + label {
/*Display stuff*/
    display: inline-block;
/*Box model stuff*/
    background-color: rgba(0, 0, 0, 0);
/*Typography stuff*/
    font-size: 1em;
}