@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: antiquewhite;
}

h1{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}

main{
    margin: auto;
    padding: 10px;
    width: 80vw;
    background-color: white;
    border-radius: 10px;
}

div{
    margin: 5px;
}

select{
    padding: 5px;
    width: 200px
}

footer p{
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    text-align: center;
}