@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

h1{
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

main{
    padding: 10px;
}

section{
    text-indent: 10px;
    text-align: justify;
}

.container{
    background-color: white;
    display: flex;
}

.item{
    background-color: gray;
    padding: 10px;
    border: 1px solid black;
}