@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: antiquewhite;
}

h1{
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

section{
    margin: 10px;
    padding: 10px;
}

ul{
    padding: 10px;
}   

.container{
    height: 300px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    background-color: gray;
    padding: 10px;
    border: 1px solid black;
}