@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    text-decoration: none;
}

body {
    background-color: black;
    color: #f6f6f6;
    padding: 30px;
}

main {
    margin: auto;
    padding: 20px;
    width: auto;
    border: 1px dashed white;
    text-align: center;
}

.texto-destacado-azul {
    color: #22d4fd;
}

img {
    width: 300px;
    margin: 30px;
}

.link-azul {
    background-color: #22d4fd;
    display: inline;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px 45px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.link-azul:hover {
    background-color: #f6f6f6;
    color: black;
    margin: 10px;
    transition: 0.5s;
}