@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    background-color: #15142b;
    background-image: linear-gradient(180deg, #372991, #15142b);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    margin: auto;
    padding: 10px;
    width: 65vw;
    background-color: white;
    border-radius: 5px;
}

section{
    margin: 10px;
    padding: 10px;
    width: 65vw;
    background-color: whitesmoke;
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
}

.container{
    display: grid;

    grid-template-columns: auto auto; /* 'auto auto' diz ao CSS para transformar em um grid de 2 colunas, caso colocassemos 'auto auto auto' estaríamos pedindo para colocar 3 colunas e assim sucessivamente */
    
    grid-template-rows: 50px 50px 50px 50px; /* Para configuar o tamanho de cada linha */

    grid-gap: 10px; /* Cria um 'vão' entre os itens */

    border: 15px solid yellow;
}

.item{
    border: 1px dotted black;
    padding: 5px;
    text-align: center;
    margin: 1px;
}